<ng-container *ngIf="dataNotFound === false">
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="data" matMultiSort multiTemplateDataRows>
            <ng-container matColumnDef="Restaurant_Name">
                <mat-header-cell *matHeaderCellDef>Restaurant Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Restaurant_Name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Cuisines">
                <mat-header-cell *matHeaderCellDef>Cuisines</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Cuisines}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Average_Cost_for_two">
                <mat-header-cell *matHeaderCellDef mat-multi-sort-header="Average_Cost_for_two">Average Cost for two
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Average_Cost_for_two}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Has_Table_booking">
                <mat-header-cell *matHeaderCellDef>Has Table booking</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Has_Table_booking}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Has_Online_delivery">
                <mat-header-cell *matHeaderCellDef>Has Online delivery</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Has_Online_delivery}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Aggregate_rating">
                <mat-header-cell *matHeaderCellDef mat-multi-sort-header="Aggregate_rating">Rating</mat-header-cell>
                <mat-cell *matCellDef="let row" [matTooltip]="row.Rating_text" [matTooltipPosition]="'left'"
                          [ngStyle]="{'color': row.Rating_color}">{{row?.Aggregate_rating}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Votes">
                <mat-header-cell *matHeaderCellDef mat-multi-sort-header="Votes">Votes</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Votes}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="headerNames,sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: headerNames;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [length]="columnsToDisplay?.length"
                       [pageIndex]="0"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</ng-container>
<div *ngIf="dataNotFound === true" class="notFound">
    Data not found please check organization or repository name
</div>
